/*
http://www.freshdesignweb.com/beautiful-registration-form-with-html5-and-css3.html
*/
.form{
	margin:0 auto; padding:20px;padding-bottom:50px;
	border:1px dashed grey!important;
}
.form input{border:1px solid silver;}
.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}
input [readonly]{background:red;}
.form select{width:400px;height:30px;}
.form input[type="text"] { width: 400px; }
.form input[type="number"] { width: 400px; }
.form textarea { width: 400px; }
.form input[type="email"] { width: 400px; }
.form input[type="password"] { width: 400px; }
.form input.birthday{width:60px;}
.form input.birthyear{width:120px;}
.form field {width:100px; color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; float:left;}
.form label.month {width: 135px;}
.form select, input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 110, 0.4); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus, textarea:focus { border: 1px solid silver; background-color: rgba(255, 255, 255, 1); }
.form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(../images/select-arrow.png), 
   /* -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);*/
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid silver;
  color: grey;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.form .gender {
  width:410px;
  }
.form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #2a78f6; }
.form input.button	{ float:right;}
.form status {color: green; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; margin-left:10px;}
table, td, th{
	border:1px solid #777;
	padding:5px;
	text-align:left;
}
.rapot table, td, th{
	border:none;
	padding:5px;
	text-align:left;
}


#chat{
	height:400px;
	overflow-y: scroll;
	padding:10px;
	margin:auto;
	/*overflow: auto;*/
}

#user{
	max-height:400px;
	width:270px;
	overflow: hidden;
	overflow-y: scroll;
	padding:10px;
	margin-right:-100px;
}


tgl{
	font-size:7pt;
}
b{
	font-weight:bold;
}

  .bubble_left {
    width: 430px;
	border-bottom:1px dotted grey;
	margin-bottom:30px;
    min-height: 65px;
	float:left;
    padding: 5px;
	text-align:left;
	
}

  .bubble_right {
	width: 415px;
	margin-bottom:30px;
	border-bottom:1px dotted grey;
    min-height: 65px;
	float:right;
    padding: 5px;
	text-align:right;
}



.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
